* {
    margin-top: 0;

}

:root {
    --primary:#bef264;
    
}

header {
    text-align: center;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--primary);
    padding: 1rem;


}

.button-trans {
    display: flex;
    justify-content: center;
    padding: 2rem;
    
    
}

button {
    appearance: button;
    background-color: var(--primary);
    font-size: large;
    font-family: cursive;
    padding: 1rem 2rem;
}

p {
    text-align: center;
    font-size: larger;
    font-family: cursive;
    padding: 1rem;
}

h2 {
    background-color:var(--primary) ;
    padding: 1rem;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 0%;
    padding-bottom: 1rem;

}

h3 {
    text-align: center;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}





























textarea {
    width: 80%;
    padding: 2rem;
    display: block;
    margin: 2rem;
    height: 12vh;
    border: 2px solid black;
}

#output-txt {
   border: 2px solid black;
   height: 10vh;
   width: 80%;
   display: block;
   margin: 2rem;
   padding: 2rem;

}

